Primeiro comando de loop FOR

In [4]:
#For each em python

my_list = [1,2,3,4,5]

for number in my_list:
    print(number * 10)

10
20
30
40
50

In [5]:
for number in my_list:
    if number % 2 == 0:
        print("Even")
    else:
        print("Odd")

Odd
Even
Odd
Even
Odd

In [6]:
if 2 in my_list:
    print("true")

true

In [7]:
for number in my_list:
    if number == 2:
        print("true")

true

In [8]:
my_string = "athila naniny ninow"

for letter in my_string:
    print(letter)

a
t
h
i
l
a

n
a
n
i
n
y

n
i
n
o
w

In [9]:
my_tuple = (1, 2, 3)
for item in my_tuple:
    print(item)

1
2
3